block bodyContent

  .loader: span.loader-effect loading

  header
    .container
      h3.logo: a(href="#")=myName
      nav
        ul
          +liLArray(siteNav)
          li
            a(href="#") Other Links
            .magaMenu
              img(src=imgsPath + "megamenu.png", alt="")
              ul
                +liLIArray(otherLinksLeft)
              ul
                +liLIArray(otherLinksRight)

  main
    include _landing
    include _articles
    include _gallery
    include _features
    include _testimonials
    include _team
    include _services
    include _skills
    include _work-steps
    include _events
    include _pricing
    include _video
    include _stats
    include _discount

  footer
    .container
      .info-box
        h3=myName
        ul.social
          each social in Footer.socialMedia
            li: a(href=social.link): i(class=social.icon)
        p= Footer.info
      .link-box
        ul.links
          each link in Footer.importantLinks
            li: a(href=link.link style= `--icon: ${link.icon};`)=link.title
      .contact-box
        .info
          i(class= Footer.contacts.address.icon)
          address.text= Footer.contacts.address.text
        .info
          i(class= Footer.contacts.workTime.icon)
          .text= Footer.contacts.workTime.text
        .info
          i(class= Footer.contacts.phones.icon)
          .text
            each number in Footer.contacts.phones.numbers
              a(href="tel:" + number)= number
      .images-box
        .images
          each image in Footer.images
            img(src= imgsPath + image, alt="")
    .desgister
      p=`${Footer.desgister.message} ${Footer.desgister.icon} By ${Footer.desgister.name}`
