mixin liArray(lisArray)
  each li in lisArray
    li=li

mixin liIArray(lisArray, icon)
  each li in lisArray
    li #[i(class=icon)] #{li}

mixin liLArray(lisArray)
  each li in lisArray
    li: a(href="#"+ li)=li

mixin liLIArray(lisArray)
  each li in lisArray
    li: a(href="#"+ li.link) #[i(class=li.icon)] #{li.name}

mixin specialHead(title)
  h2.special-head=title

mixin articleCard(title, text, img, moreLink)
  .article-card
    img(src=img, alt=title + "-image")
    .content
      h3=title
      p=text
    .more
      a(href=moreLink) Read More
      i(class="fas fa-long-arrow-alt-right")

mixin rateStars(rateNumber = 0, starsNumber = 5)
  .rate
    - let index = 0;
    while index < starsNumber
      - let star = index < rateNumber ? "filled far fa-star" : "far fa-star";
      i(class=star)
      -index++;

mixin downCount(counterTitles = ["Day", "Hour", "Minute", "Second"])
  .time
    each title in counterTitles
      .unit
        .number 00
        .title=title

mixin plans(plans, currency, every, planIcon)
  .plans
    each plan in plans
      -
        let specialClass = plan.special.isSpecial ? "special-plan" : false,
        specialTitle = plan.special.isSpecial ? plan.special.title: false;
      .plan(class= specialClass)
        if plan.special.isSpecial
          .special-plan-title= specialTitle
        .plan-head
          h3=plan.head.title
          img(src=imgsPath + plan.head.img, alt="")
          span.price(data-currency=currency data-every=every)= plan.head.price
        ul.plan-features
            each feature in plan.features
              li(style= `--icon: ${planIcon};`)=feature
        .plan-footer: a(href=plan.footer.link)=plan.footer.title 
